// Nav
.menu-branding {
    position: fixed;
    float: left;
    margin: 30px 36px;
    color: $logo-secondary;
    font-size: 1.5em;
    letter-spacing: 3px;
    .brand-secondary {
        font-family: "CodeLight";
    }
    .current-nav {
        font-size: 0.5em;
        vertical-align: 25%;
        font-family: "CodeBold";
    }
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    ul {
        list-style: none;
        font-family: "CodeLight";
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: $logo-secondary;
        padding: 0;
        float: right;
        transition: 1s;
        li {
            display: inline-block;
            padding: 20px;
            a {
                text-decoration: none;
                color: $logo-secondary;
                font-size: 1.15em;
            }
        }
    }
    &.black {
        background: $logo-secondary;
        transition: 1s;
        box-shadow: 0px 5px 15px #333;
        .menu-nav a,
        .menu-btn,
        .menu-branding {
            color: $secondary-color;
        }
    }
    .menu-btn {
        width: 100%;
        background: $logo-secondary;
        text-align: right;
        box-sizing: border-box;
        padding: 14px 24px;
        cursor: pointer;
        color: $logo-secondary;
        display: none;
    }
}

.current {
    color: $logo-secondary;
    font-family: "CodeBold";
    font-size: 24px;
}