.icons {
    position: absolute;
    top: 35px;
    right: 35px;
    a {
        padding: 0.4rem;
        &:hover {
            color: $secondary-color;
            @include easeOut();
        }
    }
}