<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <!-- RESET LINK -->
    <link rel="stylesheet" href="../scss/reset.css">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <!-- GREENSOCK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <!-- PERSONAL STYLE SHEET -->
    <link rel="stylesheet" href="../dist/css/app.css">
    <!-- PERSONAL JAVASCRIPT SHEET -->
    <script src="../dist/js/app.js"></script>
    <script src="../contactMail.js"></script>

    <title>Vantage Media LLC - Contact Us</title>
</head>

<body>

    <header class="navbar">
        <div class="menu-btn">
            <div class="btn-line-one"></div>
            <span class="menu-span">MENU</span>
            <div class="btn-line-two"></div>
        </div>

        <a href="/">
            <div class="menu-branding">

                <div class="logo">Vantage<span class="brand-secondary"> Media |</span><span class="current-nav">
                        CONTACT
                        US
                    </span></div>
            </div>
        </a>
        <nav class="menu">
            <ul class="menu-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/services" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link current">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>

    <header>
        <div class="center page-header-contact">
            <div class="mask"></div>
            <div class="header-title topFadeIn">
                Contact US
            </div>
            <div class="cloud"></div>
        </div>
    </header>

    <div class="contact-section">
        <div class="contact-title">
            <div class="contact-form">
                <h3 class="center">Let's Talk!</h3>
                <p class="center">Contact us for custom quote</p>
                <p class="green center">{{msg}}</p>
                <form method="POST" action="send" class="center" id="contact">
                    <div class="grid-3">
                        <fieldset>
                            <input placeholder="Your name*" type="text" name="name" tabindex="1" required autofocus>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Your Email Address*" type="email" name="email" tabindex="2" required>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Your Phone Number (optional)" type="tel" name="phone" tabindex="3">
                        </fieldset>
                    </div>
                    <fieldset>
                        <textarea placeholder="Project Description*" name="message" tabindex="4" required></textarea>
                    </fieldset>
                    <fieldset>
                        <button type="submit" id="contact-submit">Send!</button>
                    </fieldset>
            </div>
        </div>
    </div>

    <div class="pimg4">
        <div class="ptext landing-phrase">
            <div class="border">
                <div class="icons iconsFooter">
                    <a href="https://twitter.com/VantageMediaLLC" target="_blank">
                        <i class="fab fa-twitter fa-lg"></i>
                    </a>
                    <a href="https://www.facebook.com/VantageMediaCompany/" target="_blank">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://www.instagram.com/vantagemediacompany/" target="_blank">
                        <i class="fab fa-instagram fa-lg"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/vantage-media-company/" target="_blank">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>